player-console {
  display: none;
}
.jumbotron{
  text-align: center;
  background-image: url("../Images/gold.jpg");
  border: none;
  outline:none;
  color:black;
}
body{
  background-image: url("../Images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
}
.box{
  text-align: center;
  background-color:rgba(90, 128, 128,0.4);
  border: none;
  outline:none;
  color:white;
  border-radius: 3px;
  width: 49%;
}
#boxOne{
  margin-right: 2%;
}
#newGame{
  margin-top: 2%;
  margin-bottom: 2%;
}
#formDiv{
  width: 50%;
  margin-left: 25%;
}
#createdBy{
  border-top: 20%;
  color: black;
  margin-top: 2;s
}
